# Node / React
node_modules/
build/
.env

# Java / Spring Boot
target/
*.class
*.jar
*.log

# Docker / local volumes
pgdata/
docker-compose.override.yml

# IDE / OS files
*.iml
.vscode/
.idea/
.DS_Store

# Nginx cache (if any)
/var/cache/nginx/
